# Environment variables
.env
.env.local

# Virtual Environment
venv/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]

# SQLite
db.sqlite3

# Django media uploads
media/

# Django static files (collected)
staticfiles/